.popup {
    position: fixed;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.452); /* Adjust alpha value for transparency */
    padding: 40px; /* Increase padding to increase the size */
    width: 400px; /* Adjust width as needed */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center; /* Center text content */
}

.popup p {
    margin-bottom: 15px;
}

.popup .button-wrapper {
    margin-top: 20px; /* Adjust top margin as needed */
}

.popup button {
    padding: 10px 20px;
    background-color:green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: lightgreen;
}
