.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusted for better spacing */
  background-color: green;
  color: white;
  padding: 15px; /* Increased padding for better spacing */
  width: 100%;
  box-sizing: border-box;
}

.nav-link {
  position: relative;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 15px; /* Increased padding for better click area */
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: transparent; /* Changed initial background to transparent */
  transition: width 0.3s ease, background-color 0.3s ease; /* Added transition for background-color */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  background-color: white; /* Changed background color on hover or when active */
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 0 15px; /* Adjusted spacing between list items */
}

.nav-link.active {
  text-decoration: none; /* Removed underline for active link */
  font-weight: bold; /* Added bold font weight for active link */
}
